.root {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: text;
}

.currency {
  order: 1;
  font-size: 32px;
  font-weight: 200;
  transition-property: color;
  transition-duration: var(--time-interaction);
}

.input {
  order: 2;
  color: transparent;
  padding: 12px 6px;
  font-size: 0;
  width: 300px;
  height: 60px;
  border: none;
}

.input:focus {
  outline: none;
}

.view {
  position: absolute;
  text-align: right;
  font-size: 32px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition-property: color;
  transition-duration: var(--time-interaction);
}

.input:focus ~ .currency,
.input:focus ~ .view {
  color: var(--color-primary);
}

.inactive {
  color: var(--color-gray-light);
}

.active {
  position: relative;
}

.input:focus ~ .view .active::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gray-light);
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.input:disabled {
  background-color: transparent;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
