:root {
  --color-primary: deepskyblue;
  --color-primary-light: aliceblue;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: gray;
  --color-gray-light: #ccc;
  --color-error: orangered;
  --time-interaction: 0.3s;
}
